
/* SHARED STYLING BETWEEN ALL FORMS */
/* ==================================== */
/* ==================================== */
/* ==================================== */

/* .forms-main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.forms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: black;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
  text-align: center;

}

fieldset {
  border: 0;
  padding: 20px;
  margin: 20px 0;
}


.logo-img {
  background-color: white;
  border-radius: 50%;
  margin: 25px 0;
}


hr{
  width: 75%;
  border: 1px solid silver;
}

.xBtn{
  color: white;
  background-color: black;
  border: none;
  font-size: 20px;
  cursor: pointer;
  float: right;
  margin-right: 2px;
}


.login-signup-link {
  color: silver;
  font-size: 20px;
}
.login-signup-link a {
  color: white;
  font-size: 22px;
  text-decoration: none;
}

/* ==================================== */
/* ==================================== */
/* LOG-IN FORM */
/* ==================================== */
/* ==================================== */

.login-form {
  width: 50%;
  margin: 25px 0 50px 0 ;
}

.login-inputs::placeholder {
  color: white;
  font-size: 25px;
}

.login-inputs {
  text-align: center;
  width: 70%;
  margin: 10px 0;
  padding: 15px;
  box-sizing: border-box;
  background-color: black;
  border: 0;
  border-bottom: 1px solid silver;
  color: white;
  font-size: 20px;
}

.login-inputs:focus{
  border-bottom: 2px solid white;
  outline: none;
}



#loginBtn{
  width: 35%;
  height: 45px;
  border-radius: 50px;
  font-size: 18px;
}


/* ==================================== */
/* ==================================== */
/* SIGN-UP FORM */
/* ==================================== */
/* ==================================== */

.signup-form {
  width: 50%;
  margin: 25px 0 50px 0 ;
}

.signup-inputs::placeholder {
  color: silver;
  font-size: 25px;
}


.signup-inputs {
  text-align: center;
  width: 70%;
  margin: 10px 0;
  padding: 15px;
  box-sizing: border-box;
  background-color: black;
  border: 0;
  border-bottom: 1px solid silver;
  color: white;
  font-size: 20px;
}

.signup-inputs:focus{
  border-bottom: 2px solid white;
  outline: none;
}


.must::placeholder{
  color: white;
}

#createBtn {
  width: 35%;
  height: 45px;
  border-radius: 50px;
  font-size: 18px;

}

/* ==================================== */
/* ==================================== */
/* UPDATE FORM */
/* ==================================== */
/* ==================================== */





.edit-inputs {
  text-align: center;
  width: 40%;
  margin: 10px 0;
  padding: 15px;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid black;
  color: black;
  font-size: 20px;
}

.edit-inputs:focus{
  border-bottom: 2px solid #c2c2c2;
  outline: none;
  transform: scale(1.2);
  color: black;
}

.updateBtn{
  padding: 7px;
  background-color: white;
  margin-right: 5px;
  border-radius: 5px;
  font-size: 18px;
}

.updateBtn:hover{
background-color: #c2c2c2;
}

.cancelBtn{
  padding: 7px;
  background-color: white;
  border-radius: 5px;
  font-size: 18px;
}

.cancelBtn:hover{
background-color: #c2c2c2;
}

textarea{
  max-width: 400px;
  max-height: 150px;
}

textarea:focus{
  border-bottom:#c2c2c2;
}
