


<form
class="edit-form"
ng-if="$index === ctrl.indexOfEditFormToShow"
ng-submit="ctrl.editUser(user._id)">

<fieldset>

<input class="edit-inputs" type="text" placeholder="First Name" ng-model="ctrl.updateForm.fName" ng-value="user.fName" required></br>
<input class="edit-inputs" type="text" placeholder="Last Name" ng-model="ctrl.updateForm.lName" ng-value="user.lName" required></br>
<input class="edit-inputs" type="url"  placeholder="Profile image" ng-model="ctrl.updateForm.profilePic" ng-value="user.profilePic" required><br>
<input class="edit-inputs" type="url"  placeholder="Github" ng-model="ctrl.updateForm.github" ng-value="user.github"></br>
<input class="edit-inputs" type="url"  placeholder="Linkedin" ng-model="ctrl.updateForm.linkedin" ng-value="user.linkedin"></br>
<input class="edit-inputs" type="url"  placeholder="Wesbite" ng-model="ctrl.updateForm.website" ng-value="user.website"></br>
<input class="edit-inputs" type="text" placeholder="Skills" ng-model="ctrl.updateForm.skills" ng-value="user.skills"></br>
<input class="edit-inputs" type="text" placeholder="Location" ng-model="ctrl.updateForm.location" ng-value="user.location"></br>
<textarea class="edit-inputs" type="textarea" placeholder="Max 250 Characters" ng-model="ctrl.updateForm.brand" ng-value="user.brand" maxlength="250"></textarea></br>

</fieldset>

<input class="updateBtn" type="submit" value="Update User">
<button class="cancelBtn" ng-click="ctrl.indexOfEditFormToShow = null"  type="button" name="button">Cancel</button>
</form>
