Submit user:
<form ng-submit="ctrl.createUser()">
  <input type="text" placeholder="Username" ng-model="ctrl.createForm.username"></br>
  <input type="password" placeholder="Password" ng-model="ctrl.createForm.password"></br>
  <input type="text" placeholder="First Name" ng-model="ctrl.createForm.fName"></br>
  <input type="text" placeholder="Last Name" ng-model="ctrl.createForm.lName"></br>
  <input type="url"  placeholder="Profile image" ng-model="ctrl.createForm.profilePic"><br>
  <input type="url"  placeholder="Github" ng-model="ctrl.createForm.github"></br>
  <input type="url"  placeholder="Linkedin" ng-model="ctrl.createForm.linkedin"></br>
  <input type="url"  placeholder="Wesbite" ng-model="ctrl.createForm.website"></br>
  <input type="text" placeholder="Skills" ng-model="ctrl.createForm.skills"></br>
  <input type="text" placeholder="Location" ng-model="ctrl.createForm.location"></br>
  <input type="text" placeholder="Description" ng-model="ctrl.createForm.brand"></br>
  <input type="submit" value="Create User"></br>
</form>
