<div class="user-card">
  <!-- profile image -->
  <img src="{{user.profilePic}}" alt="{{user.fName}}" />

  <!-- name -->
  <h2>{{user.fName}} {{user.lName}}</h2>

  <!-- location -->
  <p class="user-location">{{user.location}}</p>

  <!-- brand statement  -->
  <p class="user-brand">{{user.brand}}</p>

  <!-- skills -->

  <ul class="user-skills">
    <h3>Skills:</h3>
    <li ng-repeat="skill in user.skills">{{skill}}</li>
  </ul>

  <!-- contact -->

  <ul class="contact">
    <h3>Keep in touch</h3>
    <li>
      <a href="{{user.github}}" target="_blank"
        ><i class="fab fa-github"></i
      ></a>
    </li>
    <li>
      <a href="{{user.linkedin}}" target="_blank"
        ><i class="fab fa-linkedin"></i
      ></a>
    </li>
    <li>
      <a href="{{user.website}}" target="_blank"
        ><i class="fas fa-globe"></i
      ></a>
    </li>
  </ul>

  <!-- edit/delete controls -->
  <div class="user-edit">
    <button
      class="delete"
      ng-click="ctrl.deleteUser(user._id)"
      ng-if="ctrl.loggedInUser._id == user._id || ctrl.loggedInUser.userRole == 'Admin'"
    >
      <i class="fas fa-trash"></i>
    </button>

    <button
      ng-if="$index !== ctrl.indexOfEditFormToShow && ctrl.loggedInUser._id == user._id || ctrl.loggedInUser.userRole == 'Admin'"
      ng-click="ctrl.indexOfEditFormToShow = $index"
    >
      <i class="fas fa-pencil-alt"></i>
    </button>
  </div>
</div>
