<div class="user" ng-repeat="user in ctrl.users">
  <div class="user-card">
    <img src="{{user.profilePic}}" alt="{{user.fName}}" />
    <h2>{{user.fName}} {{user.lName}}</h2>
    <p>{{user.location}}</p>
    <h3>Get in touch</h3>
    <ul>
      <li><a href="{{user.github}}" target="_blank">Github</a></li>
      <li><a href="{{user.linkedin}}" target="_blank">LinkedIn</a></li>
      <li><a href="{{user.website}}" target="_blank">Website</a></li>
    </ul>
    <h3>Skills</h3>
    <ul>
      <li ng-repeat="skill in user.skills">{{skill}}</li>
    </ul>
    <p>{{user.brand}}</p>

    <button
      class="delete"
      ng-click="ctrl.deleteUser(user._id)"
      ng-if="ctrl.loggedInUser._id == user._id"
    >
      Delete
    </button>

    <button
      ng-if="$index !== ctrl.indexOfEditFormToShow && ctrl.loggedInUser._id == user._id"
      ng-click="ctrl.indexOfEditFormToShow = $index"
    >
      Edit User
    </button>
  </div>
</div>
